.git
.gitignore
.vscode
.scannerwork

.dockerignore

**/.gitignore
**/Dockerfile*
**/docker-compose*
**/README.md
**/LICENSE

cicd
dockerfiles
docs

npm-debug.log

codebase/**/.env
codebase/**/.env.example
codebase/**/coverage
codebase/**/build
codebase/**/node_modules
node_modules/
