# DO NOT (!!!) add HTTP proxy configs in this file
@energon:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@energon-components:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@energon-connectors:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@dex-runtime:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@dex-ddl:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@my-inbox:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@dex-core-common:registry=https://nexus.ourtesco.com/repository/colleague-ui/
@accessibility-toolbar:registry=https://nexus.ourtesco.com/repository/colleague-ui/