https-proxy=http://10.251.0.42:80
@energon:registry=https://nexus.ourtesco.com/repository/colleague-ui-private/
@energon-components:registry=https://nexus.ourtesco.com/repository/colleague-ui-private/
@energon-connectors:registry=https://nexus.ourtesco.com/repository/colleague-ui-private/
@dex-runtime:registry=https://nexus.ourtesco.com/repository/colleague-ui-private/
@dex-ddl:registry=https://nexus.ourtesco.com/repository/colleague-ui-private/
